body {
    background-color: #EBFDFC;
    width: 100%;
}

hr {
    color: antiquewhite;
}

.validation {
    color: red;
}

.labelReg {
    font-family: "Arial Black";
    text-align: right;
    padding-right: 5em;
}
.msgLogin {
    color: #FF0000;
    font-family: "Arial Rounded MT Bold";
    font-size: small;
    font-weight: inherit;
}
